<div class="container">
  <h1>Stupid Coaching</h1>
  <br>
  <h5><%=@ask%></h5>
  <p>- You</p>
  <h5><%=@answer%></h5>
  <p>- Your coach</p>
  <a href="http://localhost:3000/ask">Ask another question</a>
</div>
